<!doctype html>
<html
  la="ja"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout/layout}"
  th:with="topic=${T(com.haroot.home_page.enums.TopicEnum).ARTICLES}"
>
  <!--/* OGP用の名前空間をprefixで定義 */-->
  <head prefix="og: http://ogp.me/ns#" th:object="${article}">
    <link
      rel="stylesheet"
      type="text/css"
      media="all"
      th:href="@{/dist/preview-markdown.css}"
    />

    <meta name="description" th:content="|*{title}についての記事です。|" />
    <!--Twitterカード用-->
    <!--twitter以外でも使えるやつ-->
    <meta property="og:type" content="article" />
    <meta id="share-title" property="og:title" th:content="*{title}" />
    <meta
      id="share-detail"
      property="og:description"
      th:content="|*{title}についての記事です。|"
    />
    <meta
      id="share-url"
      property="og:url"
      th:content="@{|/${topic.url}/*{id}|}"
    />
    <meta property="og:site_name" content="${site}" />
    <meta
      property="og:image"
      th:content="|https://haroot.net/images/${topic.url}/*{id}/thumbnail.png|"
    />
    <!--twitter特有の設定-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@haroot_net" />
  </head>

  <body>
    <main
      id="article-template"
      layout:fragment="content"
      th:object="${article}"
    >
      <div id="back-list-section">
        <th:block
          th:replace="~{layout/back-list :: backList(|/${topic.url}|, ${topic.title})}"
        ></th:block>
      </div>
      <div class="d-flex">
        <!-- リンクや共有などの操作セクション -->
        <div id="article-actions" class="position-relative">
          <div
            id="article-actions-section"
            class="d-flex flex-column align-items-center gap-4"
          >
            <div>
              <a id="like-btn" role="button">
                <div id="not-like-icon">
                  <th:block
                    th:replace="~{layout/embedded-svg :: embeddedSvg('/images/icon/heart.svg', '30px', 'auto')}"
                  ></th:block>
                </div>
                <div id="liked-icon" class="d-none">
                  <th:block
                    th:replace="~{layout/embedded-svg :: embeddedSvg('/images/icon/heart-red.svg', '30px', 'auto')}"
                  ></th:block>
                </div>
              </a>
              <p
                id="like-count"
                th:text="${likeCount}"
                class="hr-dot text-center"
              >
                0
              </p>
            </div>
            <div>
              <a id="tweet-article-btn" role="button">
                <i class="hr-icon fa-brands fa-x-twitter"></i>
              </a>
            </div>
            <div class="d-flex flex-column">
              <a id="copy-link-btn" class="mx-auto" role="button">
                <i class="fa-solid fa-link text-white fs-4"></i>
              </a>
              <p
                id="copied-text"
                class="d-none hr-dot bg-white text-black text-center rounded-pill my-2 px-2 py-1"
              >
                LINK COPIED!
              </p>
            </div>
          </div>
        </div>
        <!-- 記事詳細 -->
        <div id="article-detail">
          <th:block th:if="${errStr!=''}">
            <p th:text="${errStr}"></p>
          </th:block>
          <p id="title" th:text="*{title}" class="h2 fw-bold"></p>
          <th:block th:if="*{wip==true}">
            <p>※非公開</p>
          </th:block>
          <p th:if="*{createDate != null}">
            作成日時:
            <span
              th:text="${#temporals.format(article.createDate, 'yyyy/MM/dd')}"
            ></span>
          </p>
          <p th:if="*{updateDate != null}">
            更新日時:
            <span
              th:text="${#temporals.format(article.updateDate, 'yyyy/MM/dd')}"
            ></span>
          </p>
          <pre>
            <!--/* NOTE: utextで例えば<br>を"&lt;br&gt;"のようにエスケープさせず直接渡している */-->
            <div id="md-content-section" th:utext="*{content}"></div>
          </pre>
          <th:block th:if="${session.isLogin}">
            <a class="btn btn-primary" th:href="@{|/articles/edit/*{id}|}"
              >編集</a
            >
          </th:block>
        </div>
        <!-- 目次 -->
        <div id="article-toc" class="position-relative">
          <div id="article-toc-section" class="border mx-3 p-3"></div>
        </div>
      </div>
      <script th:src="@{/dist/preview-markdown.bundle.js}"></script>
      <script th:src="@{/dist/insert-toc.bundle.js}"></script>
      <script th:src="@{/dist/tweet-article.bundle.js}"></script>
      <script th:src="@{/dist/like-article.bundle.js}"></script>
      <script th:src="@{/dist/copy-link.bundle.js}"></script>
    </main>
  </body>
</html>
