<!doctype html>
<html
  la="ja"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout/layout}"
  th:with="topic=${T(com.haroot.home_page.enums.TopicEnum).WORK}"
>
  <head>
    <title th:text="|${topic.titleJp} - ${site}|">haroot</title>
    <meta name="description" th:content="${topic.summary}" />
  </head>

  <body>
    <main id="work-template" layout:fragment="content">
      <th:block
        th:replace="~{layout/back-list :: backList(|/${topic.url}|, ${topic.title})}"
      ></th:block>
      <p class="h2" th:text="${work.title}"></p>
      <p th:text="${work.titleEn}"></p>
      <div class="container-fluid mt-4 mb-5">
        <div class="row">
          <!--/* NOTE: 左端をタイトルと合わせるためpaddingを削除 */-->
          <div class="col-4 p-0">
            <a
              th:if="${work.workUrl}"
              th:href="${work.workUrl}"
              target="_blank"
              class="hr-inner-shadow-btn btn btn-danger px-3 py-2 d-inline-flex align-items-center gap-2"
            >
              <img
                th:src="@{|/images/${#strings.replace(work.genre.imagePath, '.svg', '-dark.svg')}|}"
                width="30px"
                height="30px"
              />
              <span
                th:text="${(work.genre.name == 'GAME' || work.genre.name == 'APPS') ? 'PLAY NOW !' : 'WATCH NOW !'}"
                class="hr-dot text-white"
              ></span>
            </a>
          </div>
          <div class="col-8">
            <p th:text="${work.summary}"></p>
            <p th:text="${work.summaryEn}"></p>
            <a
              th:if="${work.policyUrl}"
              th:href="@{|/policy/${work.policyUrl}|}"
              class="text-decoration-underline"
              >Privacy Policy</a
            >
            <div class="d-flex gap-2 mt-3">
              <th:block th:each="tag: ${work.tagList}">
                <th:block
                  th:replace="~{layout/tag :: tag(${tag.tagName}, ${tag.tagType})}"
                ></th:block>
              </th:block>
            </div>
          </div>
        </div>
      </div>

      <div layout:fragment="work-custom-content"></div>
    </main>
  </body>
</html>
