#root directory
.apt_generated*
.history
.mvn
target
HELP.md
mvnw*
*.xml

#hidden
.DS_Store
.project
.classpath
org.eclipse.*
org.springframework.*

#other
META-INF
audio
Fonts
images
application.yml
test

#old
QiitaController.java
qiita.html

#font
*.ttf
*.woff2

#google
ads.html