#root directory
.apt_generated*
.history
.mvn
target
mvnw*
!logback-spring.xml

#hidden
.DS_Store
.project
.classpath
org.eclipse.*
org.springframework.*

#other
audio
Fonts
images
application*.yml
test
.metadata
Servers

#font
*.ttf
*.woff2

#google
ads.html

.rewrite-cache