<!doctype html>
<html lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <title>header page</title>
  </head>

  <body>
    <header
      th:fragment="header"
      class="py-3 border-bottom border-1 border-black bg-black"
    >
      <div class="d-flex justify-content-between">
        <div>
          <a href="/" role="button">
            <th:block
              th:replace="~{layout/embedded-svg :: embeddedSvg('/images/haroot-logo.svg', '150px', 'auto')}"
            ></th:block>
          </a>
        </div>
        <div class="d-flex align-items-center gap-5">
          <th:block
            th:each="topic: ${T(com.haroot.home_page.enums.TopicEnum).values()}"
          >
            <a
              class="d-flex gap-1 align-items-baseline pb-2"
              th:classappend="${uri.startsWith('/' + topic.url) ? 'hr-active-topic' : ''}"
              th:href="@{|/${topic.url}|}"
            >
              <th:block
                th:replace="~{layout/embedded-svg :: embeddedSvg(|/images/${topic.imagePath}|, '25px', 'auto')}"
              ></th:block>
              <p class="hr-dot m-0" th:text="${topic.title}"></p
            ></a>
          </th:block>
        </div>
      </div>
    </header>
  </body>
</html>
