<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/stylesheet.css}">
	<link rel="stylesheet" th:href="@{/css/responsive.css}" media="print" onload="this.media='all'">
	<link rel="shortcut icon" th:href="@{/images/favicon.ico}">
	<!--FontAwesome用-->
	<script src="https://kit.fontawesome.com/cee3ec41f4.js" crossorigin="anonymous"></script>
	<title>layout page</title>
</head>

<body>
	<div layout:fragment="launch"></div>

	<header layout:replace="~{/layout/header::header}"></header>

	<div class="except-header">
		<div class="container">
			<main layout:fragment="content"></main>
			<div layout:replace="~{/layout/menuBar::menuBar}"></div>
		</div>
		<div layout:replace="~{/layout/ads::ads}"></div>
		<div layout:replace="~{/layout/footer::footer}"></div>
	</div>
	<div layout:replace="~{/layout/lastProcess::lastProcess}"></div>
</body>
</html>