<!DOCTYPE html>
<html lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>menu-bar page</title>
</head>

<body>
	<div layout:fragment="menuBar" id="menu-bar">
		<aside>
			<a class="down-btn" href="/">top</a>
			<a class="down-btn" href="/ios-app">iOS apps</a>
			<a class="down-btn" href="/articles">articles</a>
			<a class="down-btn" href="/music">music</a>
			<a class="down-btn" href="/bot">bot</a>
			<a class="down-btn" href="/about">about</a>
			<a class="down-btn" href="/contact">contact</a>
		</aside>
	</div>
</body>

</html>