<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/defaults.xml"></include>
	<include
		resource="org/springframework/boot/logging/logback/console-appender.xml"></include>
	<timestamp key="LOG_DATE" datePattern="yyyyMMdd"></timestamp>
	<property name="LOG_FILE"
		value="/opt/tomcat-9/logs/application.log"></property>
	<property name="LOG_PATTERN"
		value="%d{yyyy/MM/dd HH:mm:ss.SSS} [%t] %-5le %lo{36} - %msg %n"></property>

	<!-- 環境ごとに出力設定 -->
	<springProfile name="local">
		<!-- 下での参照先に使用 -->
		<appender name="CONSOLE"
			class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${LOG_PATTERN}</pattern>
			</encoder>
		</appender>
		<!-- levelの設定とappenderの参照先指定 -->
		<root level="INFO">
			<appender-ref ref="CONSOLE"></appender-ref>
		</root>
	</springProfile>
	<springProfile name="dev,test,prod">
		<!-- appenderが"FILE"の場合の設定 -->
		<appender name="FILE"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<encoder>
				<pattern>${LOG_PATTERN}</pattern>
			</encoder>
			<!-- 出力先ファイルは"LOG_FILE"のパス -->
			<file>${LOG_FILE}</file>
			<rollingPolicy
				class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${LOG_FILE}.%d</fileNamePattern>
				<maxHistory>7</maxHistory>
			</rollingPolicy>
		</appender>
		<root level="INFO">
			<appender-ref ref="FILE"></appender-ref>
		</root>
	</springProfile>

</configuration>