<!DOCTYPE html>
<html lang="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout}">

<head>
	<title th:text="|管理画面 - ${site}|">haroot</title>
	<meta name="description" content="管理画面です。">
	<link type="text/css" rel="stylesheet" th:href="@{css/admin.css}">
</head>

<body>
	<main id="admin" layout:fragment="content">
		<h2 class="title">ログイン画面</h2>
		<form action="/admin/login" method="post" th:object="${userDto}">
			<p class="check-failed" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
			<label for="username-input">ユーザー名</label>
			<input id="username-input" th:field="*{username}">
			<p class="check-failed" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
			<label for="password-input">パスワード</label>
			<input type="password" id="password-input" th:field="*{password}" value="*{password}">
			<input type="submit" value="送信">
		</form>
	</main>
</body>

</html>