<!DOCTYPE html>
<html>

<head>
	<th:block th:include="share/head"></th:block>
	<title>ユーザー画面 - haroot.net</title>
	<meta name="description" content="ユーザー画面です。">
</head>

<body>
	<header th:include="share/header"></header>
	<div class="except-header">
		<div class="container">
			<main>
				<h2 class="title">ログイン成功!</h2>
			</main>
			<th:block th:include="share/menuBar"></th:block>
		</div>
		<div th:include="share/ads"></div>
		<footer th:include="share/footer"> </footer>
	</div>
	<div th:replace="share/lastProcess"></div>
</body>

</html>