<!DOCTYPE html>
<html
  la="ja"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout/layout}"
>
  <head>
    <title th:text="|hxh ハンター文字クイズ - ${site}|">haroot</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/hxh.css}" />
    <meta name="description" content="hxhのハンター文字クイズです。" />
  </head>

  <body>
    <main layout:fragment="content">
      <h2 class="title">hxh ハンター文字クイズ</h2>
      <h3 class="my-3">問題</h3>
      <p id="hunter-q" class="hunter fs-5" th:text="${wrods}"></p>
      <div class="position-relative">
        <div
          id="ok"
          class="position-absolute top-50 start-50 translate-middle-x fa-regular fa-circle text-danger d-none"
          style="z-index: 100; font-size: 200px"
        ></div>
        <i
          id="ng"
          class="position-absolute top-50 start-50 translate-middle-x fa-solid fa-xmark text-danger d-none"
          style="z-index: 100; font-size: 200px"
        ></i>
      </div>
      <div class="input-group">
        <input class="form-control m-0" id="hunter-input" />
        <button class="btn btn-primary" type="btn" onclick="checkAnswer()">回答</button>
        <button id="show-answer-btn" class="btn btn-warning" type="btn" onclick="showAnswerOrNext()">正解を見る</button>
      </div>
      <p id="hunter-a"></p>
      <script th:inline="javascript">
        // scriptファイルで変数を使えるように、inlineで定義しておく
        const words = /*[[${words}]]*/[];
      </script>
      <script th:inline="javascript" th:src="@{/js/checkAnswer.js}"></script>
    </main>
  </body>
</html>
