<!doctype html>
<html
  la="ja"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/contents/work/template}"
>
  <body>
    <div layout:fragment="work-custom-content">
      <div class="container-fluid">
        <div
          th:if="${firstViewVideo}"
          th:object="${firstViewVideo}"
          class="row my-5"
        >
          <a target="_blank" th:href="*{url}">
            <img
              class="hr-thumbnail"
              th:src="*{imagePath}"
              alt=""
              onerror="
                this.onerror = null;
                this.src = '/images/noImage.png';
              "
            />
          </a>
        </div>
        <div class="row row-cols-2 g-5">
          <div th:each="video: ${videoList}" th:object="${video}" class="col">
            <a target="_blank" th:href="*{url}">
              <!--/* NOTE: 例外的に横幅をcolの幅に合わせる */-->
              <img
                class="hr-img"
                th:src="*{imagePath}"
                alt=""
                onerror="
                  this.onerror = null;
                  this.src = '/images/noImage.png';
                "
                width="100%"
              />
              <p th:text="*{title}"></p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
