<!doctype html>
<html
  la="ja"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout/layout}"
>
  <head>
    <title th:text="|SERVER ERROR - ${site}|">haroot</title>
    <meta
      name="description"
      content="haroot.netでエラーが起きた際のページです。。"
    />
  </head>

  <body>
    <main layout:fragment="content" class="align-content-center">
      <div class="text-center">
        <p class="hr-dot hr-size-1">GAME OVER</p>
        <p class="hr-dot h2 text-danger">SERVER ERROR</p>
      </div>
    </main>
  </body>
</html>
