#music li {
  list-style: none;
}

#yt-iframe {
  width: fit-content;
  margin: 0 auto;
  border: 2px black solid;
}

@media screen and (max-width: 1000px) {
  h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 670px) {
  h2 {
    font-size: 16px;
  }
}
