main>p {
	margin-bottom: auto;
}

.description div{
	margin-bottom: 30px;
}

.description li{
	list-style:decimal;
}

.description img {
	width: 60%;
}

.func{
	background-color: rgb(177, 229, 250);
	border-radius: 10px;
	padding:20px;
}

.shiritori-img{
	border: 2px solid black;
	border-radius: 20px;
}


@media screen and (max-width:670px) {
	main>* {
		margin-left: 0;
	}

	p {
		text-align: left;
	}

}