@charset "UTF-8";

@media screen and (max-width: 1000px) {

    /*header{
        background-color:blue;
    }*/
    h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 670px) {
    /*header{
		background-color:red;
	}*/

    h1,
    h2,
    h3,
    p {
        text-align: center;
    }

    h2 {
        font-size: 16px;
    }

    p {
        font-size: 14px;
    }

    .item-imgDiv {
        width: 25%;
        height: 85%;
    }

    .item-text {
        width: 70%;
    }

    .item-text>h2,
    .item-text>p {
        text-align: left;
    }



    div>main {
        width: 100%;
        border-right: none;
    }

    input,
    textarea {
        margin: 4vmin auto;
    }

    #menu-bar {
        width: 100%;
    }

    .footer-list>ul>li {
        font-size: 10px;
    }

    [class^="fa-"] {
        font-size: 30px;
    }
}