@charset "UTF-8";

* {
    margin: 0;
    box-sizing: border-box;
    /*デフォルトフォント*/
    font-family: "Hiragino Mincho ProN";
}

*:visited {
    color: inherit;
}

@font-face {
    /* 使用する際のフォント名指定 */
    font-family: 'CustomFont';

    src: url('../Fonts/Parisienne/Parisienne-Regular.ttf') format('truetype'),
        url('../Fonts/Parisienne/Parisienne-Regular.woff') format('woff'),
        url('../Fonts/Parisienne/Parisienne-Regular.eot') format('embedded-opentype');
    font-display: swap;
}


html {
    height: 100%;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    max-width: 100%;
    width: 100%;
    background-color: rgb(250, 250, 247);
}

p {
    line-height: 2;
}

.down-btn:active {
    position: relative;
    top: 2px;
}

.credit {
    color: #0000EE;
    text-decoration: underline;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.ads {
    width: 80%;
    margin: 0 auto;
}

input.submit {
    cursor: pointer;
}

/**********起動画面**********/

#launch {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: opacity 2s;
    width: 100%;
    height: 100%;
    background-color: #FFFFEA;
}

.bingo-text {
    margin: 0 30vw;
    font-size: 40px;
    text-align: center;
    display: none;
}

.slotBoxs {
    display: inline-flex;
    border: solid 1px black;
    justify-content: space-around;
    margin: 30vh 30vw 5vh 30vw;
}

.slotBox {
    display: inline-block;
    width: calc(100%/3);
    border: solid 1px black;
    border-collapse: collapse;
}

.slotBox img {
    width: 100%;
    transition: all 0.5s;
    transform: translateY(-100vh);
}

/**********起動画面ここまで**********/
/*********ヘッダー***********/

header {
    height: 80px;
    width: 100%;
    opacity: 0.9;
    position: fixed;
    z-index: 3;
    border-bottom: 1px black solid;
}

header button {
    height: 100%;
    padding: 0 2vmin;
    float: right;
    background-color: transparent;
    border: none;
}

header button:hover {
    cursor: pointer;
    transition: all 0.5s;
}

.header-logo>* {
    font-family: 'CustomFont';
}

.header-logo a {
    font-size: 40px;
    line-height: 80px;
    float: left;
    overflow: auto;
    padding-left: 1vmin;
    text-decoration: none;
    color: black;
}

/*******ヘッダーここまで********/
/*******ヘッダー以外********/

.except-header {
    width: 100%;
    position: absolute;
    top: 80px;
}

.container {
    width: 95%;
    height: 100%;
    margin: 0 auto 20px auto;
}

/*********メニューバー**********/

#menu-bar {
    position: fixed;
    top: 80px;
    left: 100%;
    width: 20%;
    height: 100%;
    background-color: rgb(248, 252, 255);
    z-index: 2;
    transition: all 0.6s ease;
}

#menu-bar a {
    padding: 2vh;
    font-size: 20px;
    display: block;
    text-decoration: none;
    color: black;
    position: relative;
}

#menu-bar a:after {
    width: 0;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: solid black 1px;
    transition: 1s;
}

#menu-bar a:hover:after {
    width: 100%;
}

/*********メニューバーここまで**********/

main {
    width: 100%;
    padding-top: 4vmin;
    min-height: 350px;
}

.title {
    padding: 0 2vw 2vh 2vw;
}

.topic-all {
    text-align: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}

.item-all {
    width: 100%;
}

.topic-link,
.item-link {
    text-decoration: none;
    color: black;
    position: relative;
    margin-bottom: max(2vh, 2vw);
}

.topic-link {
    align-self: center;
    flex: 0 1 15%;
}

.item-link {
    display: inline-block;
    width: 100%;
    height: 15vh;
}

/* borderを動かすため(widthを0->100にするため)にtextなしのafterをつける */
.topic-link:after,
.item-link:after {
    width: 0;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: black 1px solid;
    transition: 1s;
}

.topic-link:hover:after,
.item-link:hover:after {
    width: 100%;
}

.item {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.item-text {
    width: 80%;
    text-align: left;
}

.item-img {
    height: 95%;
    width: 15%;
    /*アスペクト比を保つ*/
    object-fit: cover;
    border: solid 1px black;
}

.item p {
    margin-top: 2vh;
}

input,
textarea {
    margin-bottom: 4vmin;
    padding: 1vmin 1vmin;
    border-radius: 4px;
    border: 1px solid #000000;
    width: 70%;
    display: block;
}

input.name,
input.email {
    height: max(4vh, 4vw);
}

textarea {
    height: max(10vh, 10vw);
}

.check-failed {
    color: red;
}

/**********フッター**********/

footer {
    margin-bottom: 10vh;
}

.footer-list>ul>li {
    padding: 1vh 1vw;
    font-size: 18px;
    list-style: none;
    display: inline-block;
}

.footer-list>ul>li>a {
    color: black;
}

/**********フッターここまで**********/

/*** font awesome ******/

.fa-twitter {
    margin: 0 1vmin;
}

[class^="fa-"] {
    color: black;
    font-size: 40px;
}