#launch {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: opacity 2s;
    width: 100%;
    height: 100%;
    background-color: #FFFFEA;
}

#canvas1{
	margin:10px auto;
	display:block;
}

.top-img {
    width: 100%;
    max-width: 100%;
    height: 50vh;
    min-height: 300px;
    object-fit: contain;
}

@media screen and (max-width: 670px) {
    .topic-link {
        flex-basis: 30%;
    }

}