<div class="container">
    <div class="footer-logo">
        <h1>はるーと</h1>
    </div>
    <div class="footer-list">
        <ul class="footer-ul">
            <li><a href="/">トップ</a></ii>
            <li><a href="/policy">プライバシーポリシー</a></li>
            <li>Twitter：@haroot_net <a class="twitter-icon" href="https://twitter.com/haroot_net" target="_blank"><i
                        class="fa-brands fa-twitter"></i>Twitterを見る</a></li>
            <li>メールアドレス：haroot.net@gmail.com</li>
        </ul>
    </div>
</div>