<!DOCTYPE html>
<html la="ja" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout}">

<head>
	<title>harootについて - haroot.net</title>
	<link type="text/css" rel="stylesheet" th:href="@{/css/about.css}">
	<meta name="description" content="harootの経歴のページです。">
</head>

<body>
	<main layout:fragment="content">
		<h2 class="title">経歴</h2>
		<div class="career">
			<table>
				<tbody>
					<tr>
						<th>2021/03</th>
						<td>東京工業大学 地球惑星科学系 卒業</td>
					</tr>
					<tr>
						<th>2021/04</th>
						<td>ニートになる</td>
					</tr>
					<tr>
						<th></th>
						<td>Qiita記事投稿開始</td>
					</tr>
					<tr>
						<th></th>
						<td>iOSアプリ開発開始</td>
					</tr>
					<tr>
						<th></th>
						<td>Youtube投稿開始</td>
					</tr>
					<tr>
						<th></th>
						<td>haroot.net(このホームページ)作成開始</td>
					</tr>
					<tr>
						<th>2021/06</th>
						<td>SES就職</td>
					</tr>
					<tr>
						<th>2022/05</th>
						<td>Twitterのbot作成</td>
					</tr>
					<tr>
						<th>2022/09</th>
						<td>SES退社</td>
					</tr>
					<tr>
						<th>2022/11</th>
						<td>チーム○ボ就職</td>
					</tr>
				</tbody>
			</table>
		</div>
	</main>
</body>

</html>