<!doctype html>
<html
  la="ja"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout/layout}"
  th:with="topic=${T(com.haroot.home_page.enums.TopicEnum).ABOUT}"
>
  <head>
    <title th:text="|${topic.getTitleJp()} - ${site}|">haroot</title>
    <meta name="description" th:content="${topic.getSummary()}" />
  </head>

  <body>
    <main id="about" layout:fragment="content">
      <ul class="nav nav-tabs gap-2 justify-content-end">
        <li class="nav-item border-top border-start border-end rounded-top">
          <a
            class="nav-link active"
            data-bs-toggle="tab"
            data-bs-target="#tab-profile"
            type="button"
            role="tab"
            ><span class="hr-dot h3">PROFILE</span></a
          >
        </li>
        <li class="nav-item border-top border-start border-end rounded-top">
          <a
            class="nav-link"
            data-bs-toggle="tab"
            data-bs-target="#tab-skills"
            type="button"
            role="tab"
            ><span class="hr-dot h3">SKILLS</span></a
          >
        </li>
        <li class="nav-item border-top border-start border-end rounded-top">
          <a
            class="nav-link"
            data-bs-toggle="tab"
            data-bs-target="#tab-background"
            type="button"
            role="tab"
            ><span class="hr-dot h3">BACKGROUND</span></a
          >
        </li>
      </ul>

      <div class="tab-content border rounded p-5">
        <div
          id="tab-profile"
          class="tab-pane fade show active"
          role="tabpanel"
          tabindex="0"
        >
          <div class="d-flex gap-5">
            <div
              id="status-container"
              class="d-flex flex-column justify-content-between"
            >
              <div class="text-center">
                <img th:src="@{/images/noImage.png}" width="100px" />
              </div>
              <div class="container-fluid border rounded py-2">
                <div class="row">
                  <div class="col-4">高さ</div>
                  <div class="col-8">0xA8 cm</div>
                </div>
                <div class="row">
                  <div class="col-4">重さ</div>
                  <div class="col-8">0x35 kg</div>
                </div>
                <div class="row mb-2">
                  <div class="col-4">性格</div>
                  <div class="col-8">INTP-A</div>
                </div>
                <!--/* NOTE: rowを使うとアイコンがcol-3などの幅より大きくなってしまうので使わない */-->
                <div class="d-flex gap-2">
                  <a
                    class="hr-icon d-flex align-items-center"
                    href="https://github.com/haru8601"
                    target="_blank"
                  >
                    <i class="fa-brands fa-github"></i>
                  </a>
                  <a
                    class="hr-icon d-flex align-items-center"
                    href="https://twitter.com/haroot_net"
                    target="_blank"
                    ><i class="fa-brands fa-x-twitter"></i
                  ></a>
                </div>
              </div>
            </div>
            <div class="d-flex flex-column gap-2">
              <div>No. 086</div>
              <div class="d-flex gap-3 align-items-center">
                <h1 class="hr-dot hr-size-1 m-0">HAROOT</h1>
                <h4 class="m-0">はるーと</h4>
              </div>
              <div>Engineer</div>
              <div class="d-flex gap-2">
                <div class="badge rounded-pill text-bg-primary">
                  <i class="fa-brands fa-steam me-1 p-1"></i>ゲーム
                </div>
                <div class="badge rounded-pill text-bg-success">
                  <i class="fa-solid fa-drum me-1 p-1"></i>音楽
                </div>
              </div>
              <!--/* <div class="row">
                えんしゅうりつを　２０桁　暗記しているが　役に立ったことは　ないらしい。
              </div> */-->
              <!--/* <div class="row">
                ２つの　大学院に　合格した後　どちらも辞退した　やっかいな　いきもの。
              </div> */-->
              <div>
                格闘ゲームを　始めるために　自作PCの中身を　全て入れ替えた。<br />
                ストリートファイター６では　アルティメットマスターに　到達したらしい。
              </div>
            </div>
          </div>
        </div>
        <div id="tab-skills" class="tab-pane fade" role="tabpanel" tabindex="0">
          <div class="container-fluid">
            <div class="row">
              <div class="hr-dot h2 col-4 align-content-center">BACKEND</div>
              <div class="col-8 d-flex flex-wrap gap-2 align-content-center">
                <span class="badge text-bg-success">Java</span>
                <span class="badge text-bg-success">Kotlin</span>
                <span class="badge text-bg-primary">SpringBoot</span>
                <span class="badge text-bg-success">PHP</span>
                <span class="badge text-bg-primary">Laravel</span>
                <span class="badge text-bg-success">Go</span>
              </div>
            </div>
            <div class="row">
              <div class="hr-dot h2 col-4 align-content-center">FRONTEND</div>
              <div class="col-8 d-flex flex-wrap gap-2 align-content-center">
                <span class="badge text-bg-success">Typescript</span>
                <span class="badge text-bg-primary">React</span>
                <span class="badge text-bg-primary">Next.js</span>
              </div>
            </div>
            <div class="row">
              <div class="hr-dot h2 col-4 align-content-center">
                INFRASTRUCTURE
              </div>
              <div class="col-8 d-flex flex-wrap gap-2 align-content-center">
                <span class="badge text-bg-success">Athena</span>
                <span class="badge text-bg-success">DMS</span>
                <span class="badge text-bg-success">CodePipeline</span>
                <span class="badge text-bg-success">Kinesis</span>
                <span class="badge text-bg-success">aws-cdk</span>
                <span class="badge text-bg-primary">BigQuery</span>
                <span class="badge text-bg-primary">Firebase</span>
              </div>
            </div>
            <div class="row">
              <div class="hr-dot h2 col-4 align-content-center">OTHERS</div>
              <div class="col-8 d-flex flex-wrap gap-2 align-content-center">
                <span class="badge text-bg-warning">JUnit</span>
                <span class="badge text-bg-warning">Gatling</span>
              </div>
            </div>
          </div>
        </div>
        <div
          id="tab-background"
          class="tab-pane fade"
          role="tabpanel"
          tabindex="0"
        >
          <div id="background-container">
            <div class="bg-black">
              <p class="h4">
                <span class="hr-dot h1">2021/03</span><br />東京工業大学
                地球惑星科学系 卒業
              </p>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col"></div>
                <div class="col">
                  <div
                    class="hr-comment-right border border-danger d-flex flex-column text-start p-2"
                  >
                    <div>ニートになる</div>
                    <div>Qiita記事投稿開始</div>
                    <div>iOSアプリ開発開始</div>
                    <div>マイクラ音楽(YouTube)投稿開始</div>
                    <div>haroot.net(このHP)作成開始</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-black">
              <p class="h4">
                <span class="hr-dot h1">2021/06</span><br />SES 就職
              </p>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col"></div>
                <div class="col">
                  <div
                    class="hr-comment-right border border-danger d-flex flex-column text-start p-2"
                  >
                    <div>Twitterのbot作成</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <div
                    class="hr-comment-left border border-primary d-flex flex-column text-end p-2"
                  >
                    <div>Java Silver 取得</div>
                    <div>Oracle Bronze DBA 取得</div>
                    <div>基本情報 取得</div>
                  </div>
                </div>
                <div class="col"></div>
              </div>
            </div>
            <div class="bg-black">
              <p class="h4">
                <span class="hr-dot h1">2022/11</span><br />チーム⚪︎ボ 就職
              </p>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col"></div>
                <div class="col">
                  <div
                    class="hr-comment-right border border-danger d-flex flex-column text-start p-2"
                  >
                    <div>ポケモンしりとりサイト作成</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <div
                    class="hr-comment-left border border-primary d-flex flex-column text-end p-2"
                  >
                    <div>AWS SAA 取得</div>
                  </div>
                </div>
                <div class="col"></div>
              </div>
            </div>
            <div class="bg-black">
              <p class="h4">
                <span class="hr-dot h1">2026/02</span><br />ビ⚪︎リーチ 就職
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
