<!doctype html>
<html
  la="ja"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{/layout/layout}"
  th:with="topic=${T(com.haroot.home_page.enums.TopicEnum).ARTICLES}"
>
  <head>
    <title th:text="|${topic.titleJp} - ${site}|">haroot</title>
    <meta name="description" th:content="${topic.summary}" />
  </head>

  <body>
    <main id="articles" layout:fragment="content">
      <th:block th:if="${errStr!=''}">
        <p class="errStr" th:text="${errStr}"></p>
      </th:block>
      <div class="d-flex flex-column">
        <a
          id="hr-article-link"
          th:each="article: ${articleList}"
          th:object="${article}"
          th:href="@{|/${topic.url}/*{id}|}"
          class="py-4"
        >
          <div class="d-flex flex-column">
            <div>
              <p class="h2 fw-bold" th:text="*{title}"></p>
              <th:block th:if="*{wip==true}">
                <span>※非公開</span>
              </th:block>
            </div>
            <div class="d-flex gap-3">
              <p
                th:text="${#temporals.format(article.updateDate, 'yyyy/MM/dd')}"
              ></p>
              <div class="d-flex align-items-center gap-1">
                <img
                  th:src="@{/images/icon/heart-red.svg}"
                  width="20px"
                  height="20px"
                />
                <p th:text="*{likeCount}"></p>
              </div>
            </div>
            <div class="d-flex gap-2 my-1">
              <th:block th:each="tag: *{tagList}">
                <th:block
                  th:replace="~{layout/tag :: tag(${tag.tagName}, ${tag.tagType})}"
                ></th:block>
              </th:block>
            </div>
          </div>
        </a>
      </div>
      <th:block th:if="${session.isLogin}">
        <a class="btn1 right" th:href="@{/articles/create}">新規作成</a>
      </th:block>
      <div class="clear"></div>
    </main>
  </body>
</html>
