<!DOCTYPE html>
<html lang="ja">

<head>
	<th:block th:include="share/head"></th:block>
	<title>Bot - haroot.net</title>
	<link type="text/css" rel="stylesheet" th:href="@{/css/bot.css}">
	<meta name="description" content="harootが作ったtwitterのbotです。">
</head>

<body>
	<header th:include="share/header"></header>
	<div class="except-header">
		<div class="container flex-box">
			<th:block th:include="share/menuBar"></th:block>
			<main id="bot">
				<h2 class="title">Bot</h2>
				<!-- 内容物リスト -->
				<div>
					<p>Twitterのbotを自作してみました。下記の機能があります。</p>
					<br>
					<span>①自動ツイート</span>
					<span>②自動リプライ</span>
					<span>③自動いいね</span>
				</div>
				<div class="twitter-btn">
					<a class="twitter-icon" href="https://twitter.com/pokeBot_haroot" target="_blank"><i
							class="fa-brands fa-twitter"></i>Twitterで見る</a>
				</div>
				<p>【①自動ツイート】1日1回、ポケモンの名前をランダムに並び替えてツイートします。</p>
				<div class="twitter-tl">
					<a class="twitter-timeline" data-tweet-limit="2"
						href="https://twitter.com/pokeBot_haroot?ref_src=twsrc%5Etfw">Tweets by pokeBot_haroot</a>
				</div>
				<p>【②自動リプライ】ポケモンの名前を含めてリプを送るとそのポケモンの種族値を返します。</p>
				<img th:src="@{/images/bot/reply1.png}">
				<p>【③自動いいね】1日1回、特定の時間にポケモン関連のツイートを検索していいねします。</p>
				<img th:src="@{/images/bot/like1.PNG}">
				<div class="twitter-btn">
					<a class="twitter-icon" href="https://twitter.com/pokeBot_haroot" target="_blank"><i
							class="fa-brands fa-twitter"></i>Twitterで見る</a>
				</div>
				<script src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				<div th:include="share/ads"></div>
			</main>
		</div>
		<footer th:include="share/footer"></footer>
	</div>
	<div th:replace="share/lastProcess"></div>
</body>

</html>