<!DOCTYPE html>
<html lang="ja">

<head>
	<th:block th:include="share/head"></th:block>
	<title>「英単語クイズ - 小中学生の英語暗記」プライバシーポリシー - haroot.net</title>
	<link type="text/css" rel="stylesheet" th:href="@{/css/policy.css}">
	<meta name="description" content="harootが作成したiosアプリ「英単語クイズ - 小中学生の英語暗記」のプライバシーポリシーです。">
</head>

<body>
	<header th:include="share/header"></header>

	<div class="except-header">
		<div class="container">
			<main id="policy">
				<h1>「英単語クイズ - 小中学生の英語暗記」プライバシーポリシー</h1>
				<div>
					<h5>制定日：2021/03/18</h5>
					<h5>最終更新日：2021/04/30</h5>
				</div>

				<div>
					<p>このページは、はるーと(以下、「私」とします。)が提供するスマートフォンアプリ「英単語クイズ -
						小中学生の英語暗記」(以下、「本アプリ」とします。)における利用者情報の取扱について、以下の通りアプリケーション・プライバシーポリシー(以下、「本ポリシー」とします。)を定め、公表しております。本アプリをインストールする前に、本ポリシーをご確認いただき、内容をご理解の上で本アプリをご利用ください。
					</p>
					<p>なお、本ポリシーにおいて、「利用者情報」とは、お客様の識別に係る情報、通信サービス上の行動履歴、その他お客様のスマートフォンにおいてお客様と結びついた形で生成、利用または蓄積されている情報であって、本ポリシーに基づき当社が取得するものを意味するものとします。
					</p>
				</div>

				<h2>本アプリが利用する利用者情報</h2>
				<div>
					<p>本アプリが利用する利用情報は下記の通りです。</p>
					<ul>
						<li>アプリの広告表示のためにお客様の情報の一部を送信する可能性があります。
						</li>
					</ul>

					<div>
						<h3>アプリの広告表示</h3>
						<p>本アプリは広告表示のためにお客様の情報の一部を送信する可能性があります。広告表示は、AdMobのサービスを利用しており、本アプリはAdMobに利用者情報の提供を行います。AdMobのサービスが利用している利用者情報と目的についてはAdMobのプライバシーポリシーをご確認ください。
						</p>
						<a href="https://policies.google.com/technologies/partner-sites">AdMobプライバシーポリシー</a>
					</div>
				</div>

				<h2>利用目的</h2>
				<div>
					<p>利用者情報は下記目的に利用されます。</p>
					<ul>
						<li>第三者の広告の配信・表示のため。</li>
					</ul>

					<div>
						<h3>プライバシーポリシー変更手続き</h3>
						<p>利用者情報の取扱の関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、本ポリシーを変更する事があります。</p>
					</div>
				</div>

				<h2>お問い合わせ先</h2>
				<p><a href="/contact">お問い合わせフォーム</a></p>
				<div th:include="share/ads"></div>
			</main>
			<th:block th:include="share/menuBar"></th:block>
		</div>
		<footer th:include="share/footer">
		</footer>
	</div>
	<div th:replace="share/lastProcess"></div>
</body>

</html>