// カラーテーマ定義
$hr-blue: #4385e8;
$hr-green: #43e885;
$hr-purple: #c743e8;
$hr-red: #e84444;
$hr-bg-color-default: black;

// 他の要素より前面に表示したい場合のz-index
$front-z-index: 2;
// 他の要素より背面に表示したい場合のz-index
$back-z-index: -1;
// 一番前面に表示したい場合のz-index
$top-z-index: 10;
