@use "variables" as *;

#about {
  // bootstrapクラスの修正
  .nav-tabs {
    margin-right: 2vw;
    justify-content: flex-end;
    gap: 0.5rem;

    .nav-item {
      position: relative;
    }

    .nav-link:not(.active) {
      color: gray;
    }

    .nav-link.active {
      color: white;
      background-color: $hr-bg-color-default;

      // NOTE: 次の.tab-contentと重ね、
      // 重なり部分の.tab-contentのborderを見えなくしている
      &::after {
        content: "";
        position: absolute;
        left: 0;
        // NOTE: borderと同じサイズだと、
        // アンチエイリアシングの問題等で薄く線が残ってしまう
        // NOTE: ネガティブマージンによるborderの重複削除をしても同様の問題が起こる
        bottom: -3px;
        height: 3px;
        width: 100%;
        background-color: $hr-bg-color-default;
      }
    }

    @include sp() {
      margin-right: 0;
      justify-content: space-around;
      gap: 0;

      .nav-link .hr-dot {
        font-size: 0.8rem;
      }
    }
  }

  #tab-profile {
    #image-container {
      width: 40%;
    }

    #description-container {
      gap: 0.5rem;
      #name-container {
        gap: 1rem;
      }
    }

    @include sp() {
      & > .d-flex {
        flex-direction: column;
      }

      #image-container {
        width: 100%;
      }

      #description-container {
        align-items: center;
        gap: 1rem;

        #name-container {
          flex-direction: column;
          gap: 0;
        }
      }
    }
  }

  #tab-background {
    #background-container {
      position: relative;
      text-align: center;
      padding: 0 1rem;

      &::before {
        content: "";
        position: absolute;
        top: -20px; // 上下にはみ出す設定
        left: 50%;
        height: calc(100% + 40px); // 上下にはみ出す設定
        border-left: 5px solid white;
        z-index: $hr-back-z-index;
      }

      .hr-comment-right {
        position: relative;
        margin-left: 50px;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: -40px;
          width: 40px;
          border-top: 2px solid $hr-red;
          transform: translateY(-50%);
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: -40px;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 10px;
          background-color: $hr-red;
        }
      }

      .hr-comment-left {
        position: relative;
        margin-right: 50px;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 100%;
          width: 40px;
          border-top: 2px solid $hr-blue;
          transform: translateY(-50%);
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: calc(100% + 40px);
          transform: translate(-50%, -50%);
          width: 10px;
          height: 10px;
          background-color: $hr-blue;
        }
      }
    }
  }

  #tab-skills {
    .row {
      margin-bottom: 4vh;
    }
  }
}
