@use "variables" as *;

#about {
  // bootstrapクラスの修正
  .nav-tabs {
    margin-right: 5vw;
    // NOTE: 次の.tab-contentと重ね、手前に表示することで重なり部分の.tab-contentのborderを見えなくしている
    margin-bottom: -1px;

    .nav-item {
      position: relative;
      z-index: 2;
    }

    .nav-link:not(.active) {
      color: gray;
    }

    .nav-link.active {
      color: white;
      background-color: $background-color-default;
    }
  }

  #status {
    width: 40%;

    .row > .col-4,
    .col-8 {
      padding-right: 0;
    }
  }

  #tab-skills {
    .row {
      margin-bottom: 2vh;
    }
  }
}
