@use "variables" as *;

#articles {
  #hr-article-link {
    border-bottom: 1px solid white;

    &:last-child {
      border-bottom: none;
    }
  }
  #top-btn {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 10vh;
    right: 20vw;
    z-index: $hr-front-z-index;
  }
}
