@use "variables" as *;

#contact {
  form {
    input[type="checkbox"]:checked {
      background-color: $hr-red;
      border-color: white;
    }
    input:not([type="checkbox"]):not([type="submit"]),
    textarea {
      width: 40vw;
      min-width: 300px;
    }
  }
}
