@use "variables" as *;

@import "~@fontsource/jersey-10/index.css";
@import "~@fontsource/noto-sans-jp/500.css";
@import "~@fontsource/noto-sans-jp/700.css";

@font-face {
  font-family: "FATPIXEL";

  src:
    url("../Fonts/FATPIXEL/FATPIXEL.ttf") format("truetype"),
    url("../Fonts/FATPIXEL/FATPIXEL.woff") format("woff"),
    url("../Fonts/FATPIXEL/FATPIXEL.otf") format("opentype");
  // NOTE: 先に代替フォントを表示し、後からカスタムフォントに切り替える(FOIT対策)
  font-display: swap;
}

* {
  margin: 0;
  box-sizing: border-box;
  // デフォルトフォント
  font-family: "Noto Sans JP";
  // NOTE: mediumのfont-weightを指定
  font-weight: 500;
}

html {
  max-width: 100%;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  body {
    max-width: 100%;
    width: 100%;
    background-color: $hr-bg-color-default;
    color: white;

    header,
    footer {
      margin: 0 10vw;
    }

    header {
      position: sticky;
      top: 0;
      z-index: $hr-top-z-index;

      .hr-active-topic {
        border-bottom: 2px solid white;
        // NOTE: borderの差で他のトピックの文字列と上下中央の位置がズレるのを防いでいる
        margin-bottom: -2px;
      }
    }

    main {
      margin: 5vh 10vw;
      // エラー画面などコンテンツが少ない場合の最小値
      min-height: 300px;
    }

    a {
      text-decoration: none;

      &:link {
        color: inherit;
      }

      &:visited {
        color: inherit;
      }
    }

    p {
      margin: 0;
      line-height: 2;
    }

    // デフォルトのフォントサイズ設定
    p,
    ul > li,
    pre {
      font-size: 16px;
    }
  }

  // フォント設定
  .hr-dot {
    font-family: "FATPIXEL";

    &.hr-size-1 {
      font-size: 4rem;
    }
  }

  .hr-icon {
    font-size: 24px;
  }

  .hr-img {
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
  }

  .hr-thumbnail {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: 0 0;
  }

  // ボタン設定
  .btn-danger.hr-inner-shadow-btn {
    border: none;
    box-shadow: inset -5px -8px 8px #743232;
  }

  .hr-outer-shadow-btn {
    box-shadow: 3px 3px 3px #0c0c0c5e;
  }
}
