#hunterScriptQuiz {
  @font-face {
    font-family: "Hunter Script";
    src: url("../Fonts/Hunter/hunter.ttf") format("truetype");
    font-display: swap;
  }

  .hr-hunter-script {
    font-family: "Hunter Script";
  }

  .hr-bg-vintage-paper {
    background-image: url("../images/work/game/hunter-script-quiz/vintage_paper.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .hr-quiz-judge {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 280px;
  }

  #quizOk {
    color: #d01946;
  }

  #quizNg {
    color: #00693e;
  }
}
