@use "variables" as *;

#hunterScriptQuiz {
  @font-face {
    font-family: "Hunter Script";
    src: url("../Fonts/Hunter/hunter.ttf") format("truetype");
    font-display: swap;
  }

  .hr-hunter-script {
    font-family: "Hunter Script";
  }

  .hr-bg-vintage-paper {
    background-image: url("../images/work/game/hunter-script-quiz/vintage_paper.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

    @include sp() {
      // HACK: 上手くアスペクト比を無視した拡大ができなかったので上下だけ画像の端が見えるようにしている
      background-size: auto 100%;
    }
  }

  .hr-quiz-judge {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: $hr-front-z-index;
    font-size: 280px;
  }

  #hunter-a {
    // NOTE: 高さを確保しないと、表示の有無によって背景画像のサイズが変わってしまう
    height: 30px;
  }

  input#hunter-input {
    width: $hr-input-width-default;
    min-width: $hr-input-width-min;

    @include sp() {
      width: 100%;
      min-width: unset;
    }
  }

  #quizOk {
    color: #d01946;
  }

  #quizNg {
    color: #00693e;
  }
}
