main {
  .hr-title {
    margin: 20vh 0 10vh 0;
  }

  .hr-choose-item {
    position: relative;

    .hr-choose-icon {
      position: absolute;
      // セクションより左側に配置
      left: -30%;
      // 上下の中央揃え
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
